#app{
  background: #f5f5f5;
}

#bar{
  width:100vw;
  height:50px;
  background: #ffffff;
  //box-shadow: 0 -1px 5px 0 rgba(68,68,68,0.1);
  //border-top: 1px solid rgba(68,68,68,0.2);
  overflow: hidden;
  position: fixed;
  right:0;
  bottom:0;
  left:0;

  &>div{
    line-height:50px;
    height:50px;
    &:first-child{
      width:calc(100vw - 150px);
      color:#FF8181;
      padding-left:32px;
      font-size:16px;
      float:left;
    }
    &:last-child{
      width:150px;
      background:#00A8FF ;
      float: right;
      &>button{
        width:100%;
        height:50px;
        background: none;
        border:none;
        color:#ffffff;
        font-size:24px;
      }
    }
  }
}

.home{
  background: #f5f5f5;
  min-height:100vh;
}